#corpo {
  border: 3px solid black;
  width: 600px;
  height: 800px;
}
#centro {
  border: 3px solid blue;
  width: 200px;
  height: 300px;
}
#direita {
  border: 3px solid red;
  width: 200px;
  height: 300px;
}
#esquerda {
  border: 3px solid pink;
  width: 200px;
  height: 300px;
}
#rodape {
  border: 3px solid green;
  width: 50px;
  height: 600px;
}
